<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-row>
      <ion-col size="9"><ion-title>RegistrAPP</ion-title></ion-col>
      
      <ion-col size="3"><img src="assets/duoc.png" ></ion-col>
    </ion-row>
  
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card color="light" class="bordercard">
  <ion-card-header>
    <ion-card-subtitle>quienes somos</ion-card-subtitle>
    <ion-card-title>Acerca de la app</ion-card-title>
  </ion-card-header>
  <ion-card-content>
     
    <p class=" "> 
      Somos un grupo de alumnos que en conjunto con la institución DuocUC hemos colaborado para 
      desarrollar un metodo más eficiente y dinámico para poder marcar tu asistencia a clases, esta nueva funcionalidad 
      que DuocUC está implementando les permitira a los alumnos marcar su entrada a clases de una forma más rápida y 
      automática, así también permitira al profesor ahorrar tiempo y problemas con algunos errores que ocurren comúnmente 
      en el registro de asistencia.
    </p>
    <ion-card-subtitle>Disponible en ANDORID y IOS</ion-card-subtitle>
    
  </ion-card-content>
    <ion-row>
      <ion-col size="6"><img src="assets/andorid.jpg" class="ion-padding"></ion-col>
      
      <ion-col size="6"><img src="assets/ios.png" class="ion-padding"></ion-col>
    </ion-row>
</ion-card>
<br><br>
<ion-card color="light" class="bordercard">
  <ion-card-header>
    
    <ion-card-title>Como usar la app</ion-card-title>
    <ion-card-subtitle>te explicamos paso por paso</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>Paso 1:</ion-card-title>
    <p>Tu profesor dejará un codigo QR generado y lo mostrará a través del proyector</p>
    <img src="assets/paso1.jpg" class="ion-padding">
  </ion-card-content>
</ion-card>
<br>

    <ion-card color="light" class="bordercard">
      <ion-card-content>
    <ion-card-title>Paso 2:</ion-card-title>
    <p>debes dirigirte a QR</p>
    <img src="assets/paso2.png" class="ion-padding">
  </ion-card-content>
  </ion-card>
  <br>
  <ion-card color="light" class="bordercard">
    <ion-card-content>
    <ion-card-title>Paso 3:</ion-card-title>
    <p>Marcar tu sección</p>
    <img src="assets/paso3.png" class="ion-padding">
  </ion-card-content>
  </ion-card>
  <br>
  <ion-card color="light" class="bordercard">
    <ion-card-content>
    <ion-card-title>Paso 4:</ion-card-title>
    <p>abrir tu cámara para escanear el codigo QR</p>
    <img src="assets/paso4.png" class="ion-padding">
    <p>Y listo, ya estarás registrado en la asistencia, para verificar debes ir a la sección LISTA.</p>   
  </ion-card-content>  
  </ion-card>


</ion-content>
